@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500&display=swap');

:root {
  --lines-position: translate(0, -84px);
  --lines-position-second: translateY(-101.5px);
  --squares-position: translateY(-73px);

   --color-1: #09193c;
  --color-2: #24397f;
  --color-3: #253964;
  --color-4: #193777;
  --color-5: #121942;
  --color-6: #242f6a;
  --color-7: #2e4b89;
  --color-8: #222e74;
  --color-9: #151f53;
  --color-10: #7b88d3;
  --color-11: #293994;
  --color-12: #1d294ee2;
  --color-13: #173c6b;
  --color-14: #1e3f85;
  --color-15: #214491;
  --color-16: #32449c;
  --color-17: #132c60;
  --color-18: #142d63;
}

[data-theme="dark"] {
  --color-1: #3b3b3b;
  --color-2: #0e0e0edf;
  --color-3: #101010;
  --color-4: #000000;
  --color-5: #212121;
  --color-6: #171717;
  --color-7: #191919;
  --color-8: #fff;
  --color-9: #000000;
  --color-10: #cdcdcd;
  --color-11: #222222;
  --color-12: #282828e2;
  --color-13: #262626;
  --color-14: #252525;
  --color-15: #2a2a2a;
  --color-16: #484848;
  --color-17: #000000;
  --color-18: #151515;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* tudor logo colors */
.tudor-logo-shadow, .tudor-logo-shadow-1, .tudor-logo-shadow-2 {
  fill: var(--color-7);
}

/* watch */
.twist {
  position: absolute;
  top: 179.5px;
  left: 151px;
  width: 30px;
  height: 30px;
  background-image: linear-gradient( #cecece 25%, #a2a2a2 25%, #6d6d6d 50%, #cecece 50%, #cecece 75%, #a2a2a2 75%, #6d6d6d 100%);
  background-size: 4px 3px;
  border-radius: 10%;
  box-shadow: inset 1px -2px 1px 1px #373737, inset 2px -4px 5px 2.2px #4d4d4d, inset 2px 1.5px 5px 2px #ffffffd2
}

.twist-lower {
  position: absolute;
  top: 179px;
  left: 159.5px;
  width: 10.5px;
  height: 30px;
  border-radius: 25%;
  background-color: #000;
  background-size: 3px 2px;
  box-shadow: inset 1px -2px 1px 1px #373737, inset 2px -4px 5px 2.2px #4d4d4d, inset 2px 1.5px 5px 3px #ffffffd2;
  z-index: 1000;
}

.twist-upper {
  position: absolute;
  top: 180px;
  left: 178.5px;
  width: 2px;
  height: 28px;
  border-radius: 50%;
  background-image: linear-gradient( #cecece 25%, #a2a2a2 25%, #808080 50%, #cecece 50%, #cecece 75%, #a2a2a2 75%, #808080 100%);
  background-size: 4px 3px;
  box-shadow: inset 0 0 1px 1px #02020250;
  transform: rotate(-2deg);
}

.twist-top {
  position: absolute;
  top: 181px;
  left: 179px;
  width: 3px;
  height: 27px;
  background: linear-gradient(0deg, #3a3a3a 5%, #888 20%, #7c7c7c 40%, #979797 55%, #e8e8e8 75%, #d1d1d1 100%);
  border-radius: 50%;
  box-shadow: -1px 0 1px 0.1px #00000060;
}

.twist-top-upper {
  position: absolute;
  top: 192px;
  left: 170px;
  width: 25px;
  height: 4px;
  background: linear-gradient(5deg, #dadada 15%, #a7a7a7 20%, #7c7c7c 40%, #979797 55%, #6d6d6d 75%, #6a6a6a 100%);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: rotate(90deg);
  box-shadow: inset -2px 0.5px 0.5px 0.5px #303030e8;
  z-index: 100;
}

/* strap */
.watch-middle-strap {
  position: absolute;
  top: 21.9%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 110px;
  background-image: linear-gradient(#575757 6%, #a3a3a3 20%, #b8b8b8 25%, #f0f0f0 50%, #d0d0d0 70%,#525252 100%);
  box-shadow: inset 0 0 0 0.5px #666666;
  z-index: 3;
}

.watch-middle-strap.bottom {
  position: absolute;
  top: 71.5%;
  left: 0%;
  transform: rotate(180deg);
  background-image: linear-gradient(#575757 6%, #858585 20%, #c7c7c7 30%, #f0f0f0 50%, #d0d0d0 70%,#525252 100%);
}

.middle-strap-line {
  position: absolute;
  top: 30%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 0.5px;
  height: 28px;
  background: linear-gradient(#292929, #ccc);
}

.middle-strap-line.right {
  top: 30%;
  left: 83%;
}

.strap-silver-square {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 25px;
  border-radius: 0.5px;
  background: linear-gradient(#525252 0%,#8c8c8c 4%,#7c7c7c 5%, #aaaaaa 10%, #cccccc 20%, #ccc 30%, #e6e6e6 50%, #b1b1b1 80%, #a7a7a7, #858585 99%);
  box-shadow: 0 1px 1px 0 #505050, 0 2px 1px 0 #a3a3a3, 0 -1px 1px 0.5px #444444;
  z-index: 100;
}

.strap-silver-square.second {
  top: 6.5%;
  height: 31px;
  transform: translate(-50%, -50%) rotate(180deg);
  background: linear-gradient(#727272 4%,#919191 6%, #6d6d6d 10%, #acacac 38%, #b1b1b1 45%, #b5b5b5 60%, #fff 100%);
}

.strap-silver-square.third {
  position: absolute;
  top: 1.2%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 72px;
  height: 10px;
  border-radius: 0.5px;
  background: linear-gradient(#949494 2%, #707070 10%, #969696 15%, #ffffff 25%, #a3a3a3 80%, #8d8d8d 95%, #555555 100%);
  box-shadow: 0 -1px 1px 0 #3d3d3d;
}

.strap-silver-square-bottom {
  position: absolute;
  top: 82.5%;
  left: 17%;
  width: 72px;
  height: 25px;
  border-radius: 0.5px;
  background: linear-gradient(#9b9b9b 5%, #969595 10%, #e6e6e6 40%, #e6e6e6 50%, #616161 80%, #969696 85%, #6d6d6d 90%, #434343);
  box-shadow: 0 1px 1px 0 #505050, 0 -1px 1px 0 #505050;
  z-index: 100;
}

.strap-silver-square-bottom.second {
  top: 89%;
  height: 30px;
  background: linear-gradient(#505050 4%, #9b9b9b 5%, #545454 10%, #858585 17%, #686868 20%, #949494 40%, #e1e1e1 60%, #dddddd 80%, #afafaf 90%, #797979 95%, #505050 100%);
  transform: rotate(180deg);
  box-shadow: 0 1px 1px 0 #2e2e2e;
}

.strap-silver-square-bottom.third {
  top: 96.5%;
  height: 13px;
  background: linear-gradient(#414141 5%, #636363 5%, #ccc 20%, #e8e8e8 20%, #bababa 50%, #595959 100%);
  box-shadow: 0 -1px 1px 0 #2e2e2e;
}

.watch-strap-side {
  position: absolute;
  top: 63.5px;
  left: 28px;
}

.watch-strap-side-right {
  position: absolute;
  top: 63.5px;
  left: 73px;
}

.watch-strap-side-right-bottom {
  position: absolute;
  top: 221.5px;
  left: -18.5px;
  transform: rotate(180deg);
}

.watch-strap-side-left-bottom {
  position: absolute;
  top: 221.5px;
  left: -63.5px;
  transform: rotate(180deg);
}

.watch-button {
  position: absolute;
  top: 150.5px;
  left: 160px;
}

.watch-button.bottom {
  position: absolute;
  top: 134.5px;
  left: 69px;
  transform: rotate(180deg);
}

.watch-strap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 390px;
  width: 110px;
  background-color: transparent;
  border-radius: 6px;
  z-index: -10;
}

.watch-strap-holder {
  position: absolute;
  top: 60px;
  left: -13px;
  height: 55px;
  width: 13px;
  background-image: linear-gradient(#464646 2%,#666666 10%,#c9c9c9 20%, #dfdfdf 40%, #f3f3f3 90%);
}

.watch-strap-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: -20px;
  height: 100px;
  width: 30px;
  background-image: linear-gradient(-202deg, #464646 2%,#8a8a8a 10%,#c9c9c9 20%, #f0f0f0 50%, #8d8d8d 90%);
  border-radius: 3px 0;
  transform: rotate(22deg);
  box-shadow: inset 4px 0px 0px -2px #00000033;
}

.watch-strap-holder .strap-shadow {
  position: absolute;
  left: -18px;
  width: 2px;
  height: 90px;
  background: linear-gradient(-22deg, #575757 5%, #595959 10%, #979797 30%,#d1d1d1 50%, #7b7b7b 90%);
  transform: rotate(202deg);
}

.watch-strap-holder.right-up .strap-shadow {
  position: absolute;
  left: -18.5px;
  width: 2px;
  background: linear-gradient(-22deg, #4b4b4b 0%, #484848 10%, #a7a7a7 20%,#b6b6b6 80%);
}

.watch-strap-holder.left-bottom .strap-shadow {
  position: absolute;
  left: -18.5px;
  width: 2px;
  background: linear-gradient(-22deg, #505050 0%, #838383 10%, #cecece 30%, #d1d1d1 70%, #e4e4e4 90%);
}

.watch-strap-holder.right-bottom .strap-shadow {
  position: absolute;
  left: -18.5px;
  width: 2px;
  background: linear-gradient(-22deg, #555555 5%, #595959 10%, #e4e4e4 30%,#6b6b6b 80%);
}

.watch-strap-holder.left-bottom {
  transform: scaleY(-1);
  top: 275px;
}

.watch-strap-holder.right-up {
  transform: scaleX(-1);
  left: 109px;
}

.watch-strap-holder.right-bottom {
  transform: scaleY(-1) scaleX(-1);
  top: 275px;
  left: 109px;
}

/* outer dial */
.clock-outside-dial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 1px solid #000;
  background: linear-gradient(217deg, var(--color-1), var(--color-2) 70%),
              linear-gradient(127deg, var(--color-3), var(--color-4) 70%);
}

.clock-outside-silver-dial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 224px;
  height: 224px;
  border-radius: 50%;
  border: 1px solid #00000033;
  background: linear-gradient(120deg, #fff, #808080);
  box-shadow: 0 0 0 1px #cecece;
}

.clock-outside-silver-dial-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 226.5px;
  height: 226.5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1.2px dotted #00000033;
}

.clock-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  width: 165px;
  height: 165px;
  margin: auto;
  padding: 5px;
  background-image: linear-gradient(var(--color-5),var(--color-6));
  border-radius: 50%;
  border: 1.5px solid var(--color-7);
  box-shadow: 0 1px 0 1px var(--color-8), 0 -0.2px 0 0.5px #e6e6e6, 0 0 0 2.5px #000;
}

.clock-base {
  width: 165px;
  height: 165px;
  background-image: linear-gradient(150deg, var(--color-9) 50%, var(--color-10));
  border-radius: 50%;
  box-shadow: 0 0 5px var(--color-11);
}

/* day */
.container {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 11px;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 0 1px var(--color-10), 0 0 0 2.5px var(--color-7), 1.5px 0 0 2.5px var(--color-12);
  z-index: 10;
}

#calendar-day {
	position: absolute;
	top: 60%;
	left: 51%;
	transform: translate(-50%, -50%);
  color: #464646;
	font-family: 'Overpass', sans-serif;
	font-size: 12px;
	font-weight: 200;
  z-index: 9;
}

.clock-dial {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
}

.white-square {
  position: absolute;
  top: 47%;
  left: 47%;
  width: 10px;
  height: 10px;
  margin: 0px 0px;
  background-color: #fff; 
  z-index: 10;
  box-shadow: 0 -1px 0 1px var(--color-12);
}

.white-square .shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 0.5px solid #0000002d;
  box-shadow: inset 0 0 1px 1px #0000000c;
}

.white-square:nth-child(2) {
  transform: rotate(60deg) var(--squares-position);
}

.white-square:nth-child(3) {
  visibility: 0;
  transform: rotate(60deg) var(--squares-position);
}

.white-square:nth-child(4) {
  transform: rotate(120deg) var(--squares-position);
}

.white-square:nth-child(5) {
  transform: rotate(150deg) var(--squares-position);
}

.white-square:nth-child(6) {
  top: 39%;
  height: 23px;
  transform: rotate(180deg) var(--squares-position);
}

.white-square:nth-child(6) .shadow {
  height: 21px;
}

.white-square:nth-child(7) {
  transform: rotate(210deg) var(--squares-position);
}

.white-square:nth-child(8) {
  transform: rotate(240deg) var(--squares-position);
}

.white-square:nth-child(9) {
  top: 44%;
  left: 52%;
  height: 23px;
  transform: rotate(270deg) var(--squares-position);
}

.white-square:nth-child(9) .shadow {
  height: 21px;
}

.white-square:nth-child(10) {
  transform: rotate(300deg) var(--squares-position);
}

.white-square:nth-child(11) {
  transform: rotate(330deg) var(--squares-position);
}

.white-square:nth-child(12) {
  transform: rotate(360deg) var(--squares-position);
}

.white-square:nth-child(13) {
  transform: rotate(390deg) var(--squares-position);
}

.triangle-black {
  position: relative;
  top: -26.5px;
  left: -10px;
  width: 20px;
  height: 1.5px;
  background-color: #000;
  z-index: 3;
}

.white-triangle {
  position: absolute;
  top: 10px;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  z-index: 100;
}

.white-triangle .triangle-shadow {
  position: absolute;
  top: -23px;
  left: -8.2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 8px 0 8px;
  border-color: #dfdfdf transparent transparent transparent;
  z-index: 10;
}

.white-triangle .triangle-shadow-2 {
  position: absolute;
  top: -22.5px;
  left: -7.2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16.5px 6.5px 0 7px;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}

.clock-dial .clock-indicator {
  position: absolute;
  top: -6px;
  width: 4.5px;
  height: 16px;
  margin: 70px 70px;
  color: #fff;
  font-size: 20px;
  font-family: 'Khand', sans-serif;
  background-color: #fff;
  border-radius: 1px;
}

.clock-indicator:nth-child(2) {
  transform: rotate(60deg) var(--lines-position-second);
}

.clock-indicator:nth-child(3) {
  transform: rotate(90deg) var(--lines-position-second);
}

.clock-indicator:nth-child(4) {
  top: -9px;
  left: 9px;
  background-color: transparent;
  transform: rotate(120deg) var(--lines-position-second);
}

.clock-indicator:nth-child(5) {
  transform: rotate(150deg) var(--lines-position-second);
}

.clock-indicator:nth-child(6) {
  top: 0.5px;
  left: 6px;
  background-color: transparent;
  transform: rotate(180deg) var(--lines-position-second);
}

.clock-indicator:nth-child(7) {
  transform: rotate(210deg) var(--lines-position-second);
}

.clock-indicator:nth-child(8) {
  top: 2px;
  left: -2px;
  background-color: transparent;
  transform: rotate(240deg) var(--lines-position-second);
}

.clock-indicator:nth-child(9) {
  transform: rotate(270deg) var(--lines-position-second);
}

.clock-indicator:nth-child(10) {
  top: -4px;
  left: -7px;
  background-color: transparent;
  transform: rotate(300deg) var(--lines-position-second);
}

.clock-indicator:nth-child(11) {
  transform: rotate(330deg) var(--lines-position-second);
}

.clock-indicator:nth-child(12) {
  background-color: transparent;
  transform: rotate(360deg) var(--lines-position-second);
}

.clock-indicator:nth-child(13) {
  transform: rotate(390deg) var(--lines-position-second);
}

.triangle-outer-dial {
  position: relative;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 13px 0 13px;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}

.triangle-outer-dial .circle {
  position: absolute;
  top: -14px;
  left: -3.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1.2px var(--color-13);
  z-index: 100;
}

/* hour hand */
.clock-hour {
  position: absolute;
  left: calc(50% - 4px);
  width: 8px;
  background: linear-gradient(#fff 76%, var(--color-14) 76%);
  transform-origin: bottom center;
  border-radius: 1px;
  box-shadow: 0 0 2px #00000088;
  height: 53px;
  transition: .5s;
  margin-top: 30px;
  animation: rotate-hour 43200s linear infinite;
  z-index: 3;
}

.clock-hour .square-hour {
  position: relative;
  top: 10px;
  left: -50%;
  width: 16px;
  height: 16px;
  background: radial-gradient(#fff 80%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
  z-index: 100;
}

.clock-hour .square-hour-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border: 1px solid #4d4d4d13;
  background-color: transparent;
  z-index: 100;
}

.clock-hour .hour-cover-1 {
  position: relative;
  top: -5.25px;
  left: 1.5px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-2 {
  position: relative;
  top: 0.25px;
  left: 1.75px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-3 {
  position: absolute;
  top: 24px;
  left: 1.85px;
  width: 4px;
  height: 25.5px;
  background: linear-gradient(#fff 62%, var(--color-15) 62%);
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-4 {
  position: absolute;
  top: 1.5px;
  left: 1.85px;
  width: 4px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-5 {
  position: relative;
  top: 0;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

.clock-hour .hour-cover-6 {
  position: relative;
  top: -22px;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

/* minute hand */
.clock-minute {
  position: absolute;
  left: calc(50% - 4px);
  width: 6px;
  background: linear-gradient(#fff 85%, var(--color-14) 85%);
  transform-origin: bottom center;
  border-radius: 0.5px;
  box-shadow: 0 0 2px #00000088;
  height: 70px;
  margin-top: 12px;
  transition: .5s;
  animation: rotate-minute 3600s linear infinite;
  z-index: 10;
}

.clock-minute .minute-cover {
  position: absolute;
  top: -0.75px;
  left: 1.5px;
  width: 3px;
  height: 70px;
  background: linear-gradient(#fff 86%, var(--color-15) 86%);
  box-shadow: 0 0 1px #0000002f;
  z-index: 1000;
}

.minute-point {
  position: relative;
  top: -11%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 8px 3px;
  border-color: transparent transparent #fff transparent;
}

.minute-point:before {
  position: absolute;
  content: "";
  top: 3.5px;
  left: -1.75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.75px 4px 1.75px;
  border-color: transparent transparent #00000013 transparent;
  z-index: 1000;
}

.minute-point:after {
  position: absolute;
  content: "";
  top: 4px;
  left: -1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5px 4px 1.5px;
  border-color: transparent transparent #fff transparent;
  z-index: 1000;
}

/* second hand */
.clock-second {
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  left: calc(50% - 20px);
  transform: rotate(0deg);
  background: linear-gradient(-90deg, #fff 75%, var(--color-14) 75%);
  transform-origin: 20px center;
  box-shadow: 0 0 2px #00000088;
  border-radius: 0.5px;
  animation: rotate-second 60s linear infinite;
  -webkit-animation: rotate-second 60s linear infinite;
  z-index: 100;
}

.clock-second .square-second {
  position: relative;
  top: -4.5px;
  left: 58%;
  width: 10px;
  height: 10px;
  background: radial-gradient(#fff 40%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
}

.clock-second .square-second-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 1px solid #4d4d4d0e;
  background-color: transparent;
}
 
.clock-second .cover-1 {
  position: relative;
  top: -10px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-2 {
  position: relative;
  top: -11px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-3 {
  position: relative;
  top: -13px;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 0.5px;
  background-color: var(--color-14);
  box-shadow: 0 0 1px #00000088;
}

/* tudor logo */
.tudor-logo {
  position: relative;
  top: 58.6%;
  left: 80.7%;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.tudor-logo-shadow {
  position: absolute;
  top: 0;
}

.tudor-logo-shadow-1 {
  position: absolute;
  top: 0;
}

.tudor-logo-shadow-2 {
  position: absolute;
  top: 0;
  left: -1.5px;
}

.clock-blue-center {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--color-15);
  border: solid 1px #0000002f;
  border-radius: 50%;
  z-index: 110;
}

.clock-blue-center:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: var(--color-15);
  border: solid 1px #00000033;
  border-radius: 50%;
  z-index: 105;
}

.clock-center {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(var(--color-16),var(--color-17));
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 var(--color-18), inset 0 2px 0 var(--color-12);
}

.clock-center:after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-11);
  border-radius: 50%;
  z-index: 100;
}

/* writings on the watch base */
.clock-center p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.clock-center p:nth-child(1) {
  top: 22%;
  left: 43.5%;
  transform: translate(-20%, -50%);
  font-size: 10px;
  font-weight: 700;
  font-family: 'Lusitana', serif;
}

.clock-center p:nth-child(2) {
  position: absolute;
  top: 29.2%;
  left: 51%;
  font-size: 6px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(3) {
  position: absolute;
  top: 63%;
  left: 51.4%;
  font-size: 6px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(4) {
  position: absolute;
  top: 67.8%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(5) {
  position: absolute;
  top: 71.3%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(6) {
  position: absolute;
  top: 74.8%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(7) {
  position: absolute;
  top: 78.3%;
  left: 44%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(8) {
  position: absolute;
  top: 78.3%;
  left: 48.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.clock-center p:nth-child(9) {
  position: absolute;
  top: 78.3%;
  left: 54%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(10) {
  position: absolute;
  top: 78.3%;
  left: 59.6%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.clock-center p:nth-child(11) {
  position: absolute;
  top: 96.5%;
  left: 33.5%;
  font-size: 3.5px!important;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  transform: rotate(14deg);
}

.clock-center p:nth-child(12) {
  position: absolute;
  top: 96.5%;
  left: 60%;
  font-size: 3.5px!important;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  transform: rotate(-14deg);
}

/* 12 lines on outer part of watch */
.outer-watch-points {
  position: absolute;
  z-index: 5;
  top: calc(50% - 20px);
  left: calc(50%);
  transform: translate(-50%, -50%);
}

.outer-watch-points i {
  position: absolute;
  display: block;
  top: -4px;
  height: 12px;
  width: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.outer-watch-points i:nth-child(1) {
  top: -81px;
  left: 10px;
  height: 8px;
  transform: rotate(7deg);
}
.outer-watch-points i:nth-child(2) {
  top: -84.5px;
  left: 19px;
  transform: rotate(12deg);
}
.outer-watch-points i:nth-child(3) {
  top: -82px;
  left: 29px;
  transform: rotate(17deg);
}
.outer-watch-points i:nth-child(4) {
  top: -78.5px;
  left: 39px;
  transform: rotate(23deg);
}
.outer-watch-points i:nth-child(5) {
  top: -68px;
  left: 58.5px;
  transform: rotate(36deg);
}
.outer-watch-points i:nth-child(6) {
  top: -61.5px;
  left: 66px;
  transform: rotate(42deg);
}
.outer-watch-points i:nth-child(7) {
  top: -55px;
  left: 73px;
  transform: rotate(49deg);
}
.outer-watch-points i:nth-child(8) {
  top: -47px;
  left: 79.5px;
  transform: rotate(55deg);
}
.outer-watch-points i:nth-child(9) {
  top: -28.5px;
  left: 90px;
  transform: rotate(64deg);
}
.outer-watch-points i:nth-child(10) {
  top: -19px;
  left: 94.5px;
  transform: rotate(72deg);
}
.outer-watch-points i:nth-child(11) {
  top: -8px;
  left: 97px;
  transform: rotate(80deg);
}
.outer-watch-points i:nth-child(12) {
  top: 2px;
  left: 99px;
  transform: rotate(85deg);
}

/* 60 lines around the watch */
.watch-points {
  position: absolute;
  z-index: 5;
  top: calc(50% - 29px);
  left: calc(50% - 28px);
  transform: translate(-50%, -50%);
}

.watch-points i {
  display: block;
  height: 3px;
  width: 1px;
  background-color: #fff;
  position: absolute;
}

i:nth-child(1) {
  transform: rotate(6deg) var(--lines-position);
}
i:nth-child(2) {
  transform: rotate(12deg) var(--lines-position);
}
i:nth-child(3) {
  transform: rotate(18deg) var(--lines-position);
}
i:nth-child(4) {
  transform: rotate(24deg) var(--lines-position);
}
i:nth-child(5) {
  transform: rotate(30deg) var(--lines-position);
}
i:nth-child(6) {
  transform: rotate(36deg) var(--lines-position);
}
i:nth-child(7) {
  transform: rotate(42deg) var(--lines-position);
}
i:nth-child(8) {
  transform: rotate(48deg) var(--lines-position);
}
i:nth-child(9) {
  transform: rotate(54deg) var(--lines-position);
}
i:nth-child(10) {
  transform: rotate(60deg) var(--lines-position);
}
i:nth-child(11) {
  transform: rotate(66deg) var(--lines-position);
}
i:nth-child(12) {
  transform: rotate(72deg) var(--lines-position);
}
i:nth-child(13) {
  transform: rotate(78deg) var(--lines-position);
}
i:nth-child(14) {
  transform: rotate(84deg) var(--lines-position);
}
i:nth-child(15) {
  transform: rotate(90deg) var(--lines-position);
}
i:nth-child(16) {
  transform: rotate(96deg) var(--lines-position);
}
i:nth-child(17) {
  transform: rotate(102deg) var(--lines-position);
}
i:nth-child(18) {
  transform: rotate(108deg) var(--lines-position);
}
i:nth-child(19) {
  transform: rotate(114deg) var(--lines-position);
}
i:nth-child(20) {
  transform: rotate(120deg) var(--lines-position);
}
i:nth-child(21) {
  transform: rotate(126deg) var(--lines-position);
}
i:nth-child(22) {
  transform: rotate(132deg) var(--lines-position);
}
i:nth-child(23) {
  transform: rotate(138deg) var(--lines-position);
}
i:nth-child(24) {
  transform: rotate(144deg) var(--lines-position);
}
i:nth-child(25) {
  transform: rotate(150deg) var(--lines-position);
}
i:nth-child(26) {
  transform: rotate(156deg) var(--lines-position);
}
i:nth-child(27) {
  transform: rotate(162deg) var(--lines-position);
}
i:nth-child(28) {
  transform: rotate(168deg) var(--lines-position);
}
i:nth-child(29) {
  transform: rotate(174deg) var(--lines-position);
}
i:nth-child(30) {
  transform: rotate(180deg) var(--lines-position);
}
i:nth-child(31) {
  transform: rotate(186deg) var(--lines-position);
}
i:nth-child(32) {
  transform: rotate(192deg) var(--lines-position);
}
i:nth-child(33) {
  transform: rotate(198deg) var(--lines-position);
}
i:nth-child(34) {
  transform: rotate(204deg) var(--lines-position);
}
i:nth-child(35) {
  transform: rotate(210deg) var(--lines-position);
}
i:nth-child(36) {
  transform: rotate(216deg) var(--lines-position);
}
i:nth-child(37) {
  transform: rotate(222deg) var(--lines-position);
}
i:nth-child(38) {
  transform: rotate(228deg) var(--lines-position);
}
i:nth-child(39) {
  transform: rotate(234deg) var(--lines-position);
}
i:nth-child(40) {
  transform: rotate(240deg) var(--lines-position);
}
i:nth-child(41) {
  transform: rotate(246deg) var(--lines-position);
}
i:nth-child(42) {
  transform: rotate(252deg) var(--lines-position);
}
i:nth-child(43) {
  transform: rotate(258deg) var(--lines-position);
}
i:nth-child(44) {
  transform: rotate(264deg) var(--lines-position);
}
i:nth-child(45) {
  transform: rotate(270deg) var(--lines-position);
}
i:nth-child(46) {
  transform: rotate(276deg) var(--lines-position);
}
i:nth-child(47) {
  transform: rotate(282deg) var(--lines-position);
}
i:nth-child(48) {
  transform: rotate(288deg) var(--lines-position);
}
i:nth-child(49) {
  transform: rotate(294deg) var(--lines-position);
}
i:nth-child(50) {
  transform: rotate(300deg) var(--lines-position);
}
i:nth-child(51) {
  transform: rotate(306deg) var(--lines-position);
}
i:nth-child(52) {
  transform: rotate(312deg) var(--lines-position);
}
i:nth-child(53) {
  transform: rotate(318deg) var(--lines-position);
}
i:nth-child(54) {
  transform: rotate(324deg) var(--lines-position);
}
i:nth-child(55) {
  transform: rotate(330deg) var(--lines-position);
}
i:nth-child(56) {
  transform: rotate(336deg) var(--lines-position);
}
i:nth-child(57) {
  transform: rotate(342deg) var(--lines-position);
}
i:nth-child(58) {
  transform: rotate(348deg) var(--lines-position);
}
i:nth-child(59) {
  transform: rotate(354deg) var(--lines-position);
}
i:nth-child(60) {
  transform: rotate(360deg) var(--lines-position);
}

