@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image:linear-gradient(#e7e7e7,#d7d7d7);
}

.clock-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 5px;
  background-image: linear-gradient(#f7f7f7,#e0e0e0);
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,.15),0 2px 2px rgba(0,0,0,.2);
}

.clock-base {
  width: 250px;
  height: 250px;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 5px #eee;
}

.clock-dial {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 230px;
  height: 230px;
}

.clock-dial .clock-indicator {
  position: absolute;
  width: 2px;
  height: 4px;
  margin: 113px 114px;
  background-color: #ddd;
}

.clock-indicator:nth-child(1) {
  transform: rotate(30deg) translateY(-113px);
}

.clock-indicator:nth-child(2) {
  transform: rotate(60deg) translateY(-113px);
}

.clock-indicator:nth-child(3) {
  transform: rotate(90deg) translateY(-113px);
  background-color: #aaa;
}

.clock-indicator:nth-child(4) {
  transform: rotate(120deg) translateY(-113px);
}

.clock-indicator:nth-child(5) {
  transform: rotate(150deg) translateY(-113px);
}

.clock-indicator:nth-child(6) {
  transform: rotate(180deg) translateY(-113px);
  background-color: #aaa;
}

.clock-indicator:nth-child(7) {
  transform: rotate(210deg) translateY(-113px);
}

.clock-indicator:nth-child(8) {
  transform: rotate(240deg) translateY(-113px);
}

.clock-indicator:nth-child(9) {
  transform: rotate(270deg) translateY(-113px);
  background-color: #aaa;
}

.clock-indicator:nth-child(10) {
  transform: rotate(300deg) translateY(-113px);
}

.clock-indicator:nth-child(11) {
  transform: rotate(330deg) translateY(-113px);
}

.clock-indicator:nth-child(12) {
  transform: rotate(360deg) translateY(-113px);
  background-color: #c00;
}

.clock-hour {
  position: absolute;
  left: calc(50% - 4px);
  width: 8px;
  background: linear-gradient(#fff 83%, #1e3f85 83%);
  transform-origin: bottom center;
  border-radius: 1px;
  box-shadow: 0 0 2px #00000088;
  height: 60px;
  transition: .5s;
  margin-top: 66px;
  animation: rotate-hour 43200s linear infinite;
  z-index: 2;
}

.clock-hour .square-hour {
  position: relative;
  top: 10px;
  left: -50%;
  width: 16px;
  height: 16px;
  background: radial-gradient(#fff 80%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
  z-index: 100;
}

.clock-hour .square-hour-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border: 1px solid #4d4d4d13;
  background-color: transparent;
  z-index: 100;
}

.clock-hour .hour-cover-1 {
  position: relative;
  top: -5.25px;
  left: 1.5px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-2 {
  position: relative;
  top: 0.25px;
  left: 1.75px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-3 {
  position: absolute;
  top: 24px;
  left: 1.85px;
  width: 4px;
  height: 25.5px;
  background-color: #fff;
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-4 {
  position: absolute;
  top: 1.5px;
  left: 1.85px;
  width: 4px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-5 {
  position: relative;
  top: 0;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

.clock-hour .hour-cover-6 {
  position: relative;
  top: -22px;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

.clock-minute {
  position: absolute;
  left: calc(50% - 2px);
  width: 6px;
  background: linear-gradient(#fff 88%, #1e3f85 88%);
  transform-origin: bottom center;
  border-radius: 0.5px;
  box-shadow: 0 0 2px #00000088;
  height: 90px;
  margin-top: 35px;
  transition: .5s;
  animation: rotate-minute 3600s linear infinite;
  z-index: 10;
}

.clock-minute .minute-cover {
  position: absolute;
  top: -0.75px;
  left: 1.5px;
  width: 3px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 1px #0000002f;
  z-index: 1000;
}

.minute-point {
  position: relative;
  top: -8%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 8px 3px;
  border-color: transparent transparent #fff transparent;
}

.minute-point:before {
  position: absolute;
  content: "";
  top: 4px;
  left: -1.75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.75px 4px 1.75px;
  border-color: transparent transparent #00000013 transparent;
  z-index: 1000;
}

.minute-point:after {
  position: absolute;
  content: "";
  top: 4px;
  left: -1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5px 4px 1.5px;
  border-color: transparent transparent #fff transparent;
  z-index: 1000;
}

.clock-second {
  position: absolute;
  width: 120px;
  height: 1px;
  top: 50%;
  left: calc(50% - 20px);
  transform: rotate(0deg);
  background: linear-gradient(-90deg, #fff 75%, #1e3f85 75%);
  transform-origin: 20px center;
  box-shadow: 0 0 2px #00000088;
  border-radius: 0.5px;
  animation: rotate-second 60s linear infinite;
  -webkit-animation: rotate-second 60s linear infinite;
  z-index: 100;
}

.clock-blue-center {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #1e3f85;
  border: solid 0.25px #00000010;
  border-radius: 50%;
  z-index: 110;
}

.clock-blue-center:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #214491;
  border: solid 0.25px #00000027;
  
  border-radius: 50%;
  z-index: 105;
}

.clock-second .square-second {
  position: relative;
  top: -4.5px;
  left: 55%;
  width: 10px;
  height: 10px;
  background: radial-gradient(#fff 40%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
}

.clock-second .square-second-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 1px solid #4d4d4d0e;
  background-color: transparent;
}
 
.clock-second .cover-1 {
  position: relative;
  top: -10px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-2 {
  position: relative;
  top: -11px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-3 {
  position: relative;
  top: -13px;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 0.5px;
  background-color: #1e3f85;
  box-shadow: 0 0 1px #00000088;
}

.clock-center {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#313d7b,#204492);
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 #1b3a7b, inset 0 1px 0 #222a55;
}

.clock-center:after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e3f85;
  border: solid 0.25px #00000013;
  border-radius: 50%;
  z-index: 00;
}

.clock-center p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.clock-center p:nth-child(1) {
  top: 23%;
  left: 45%;
  transform: translate(-20%, -50%);
  font-size: 10px;
  font-weight: 700;
  font-family: 'Lusitana', serif;
}

.clock-center p:nth-child(2) {
  position: absolute;
  top: 29%;
  left: 51.4%;
  font-size: 6.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(3) {
  position: absolute;
  top: 63%;
  left: 51.4%;
  font-size: 6px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(4) {
  position: absolute;
  top: 67.5%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(5) {
  position: absolute;
  top: 71%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(6) {
  position: absolute;
  top: 74.5%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(7) {
  position: absolute;
  top: 78%;
  left: 45%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(8) {
  position: absolute;
  top: 78%;
  left: 48.7%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.clock-center p:nth-child(9) {
  position: absolute;
  top: 78%;
  left: 53.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(10) {
  position: absolute;
  top: 78%;
  left: 58%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

/* Display Day */
.container {
  position: absolute;
  top: 49.3%;
  left: 57.8%;
  width: 15px;
  height: 11px;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 0 1px #274ea3, 0 0 0 2px #183168, 0 0 0 2.2px #00000064;
  z-index: 1;
}

#calendar-day {
	position: absolute;
	top: 60%;
	left: 51%;
	transform: translate(-50%, -50%);
  color: #464646;
	font-family: 'Overpass', sans-serif;
	font-size: 12px;
	font-weight: 200;
  z-index: 9;
}
