@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500&display=swap');

:root {
  --lines-position: translate(0, -84px);
  --lines-position-second: translateY(-101.5px);
  --squares-position: translateY(-73px);
}

.clock-outside-dial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 1px solid #000;
  background: linear-gradient(217deg, #0d214d, #5870be64 70%),
              linear-gradient(127deg, #253964, #193777 70%);
}

.clock-outside-silver-dial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 224px;
  height: 224px;
  border-radius: 50%;
  border: 1px solid #00000033;
  background: linear-gradient( #ffffff, #0000008e);
  box-shadow: 0 0 0 1px #cecece;
}

.clock-outside-silver-dial-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 226.5px;
  height: 226.5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1.2px dotted #00000033;
}

.clock-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  width: 165px;
  height: 165px;
  margin: auto;
  padding: 5px;
  background-image: linear-gradient(#161e4d,#2a3679);
  border-radius: 50%;
  border: 1.5px solid #294683;
  box-shadow: 0 1px 0 1px #17246f, 0 -0.2px 0 0.5px #e6e6e6, 0 0 0 2.5px #000;
}

.clock-base {
  width: 165px;
  height: 165px;
  background-image: linear-gradient(150deg,#202c6f 50%,#5c6cc2);
  border-radius: 50%;
  box-shadow: 0 0 5px #44519b;
}

/* day */
.container {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 11px;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 0 1px #5c6cc2, 0 0 0 2.5px #293788c4, 1.5px 0 0 2.5px #1d294ee2;
  z-index: 10;
}

#calendar-day {
	position: absolute;
	top: 60%;
	left: 51%;
	transform: translate(-50%, -50%);
  color: #464646;
	font-family: 'Overpass', sans-serif;
	font-size: 12px;
	font-weight: 200;
  z-index: 9;
}

.clock-dial {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
}

.white-square {
  position: absolute;
  top: 47%;
  left: 47%;
  width: 10px;
  height: 10px;
  margin: 0px 0px;
  background-color: #fff; 
  z-index: 10;
  box-shadow: 0 -1px 0 1px #1b203a;
}

.white-square .shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 0.5px solid #0000002d;
  box-shadow: inset 0 0 1px 1px #0000000c;
}

.white-square:nth-child(2) {
  transform: rotate(60deg) var(--squares-position);
}

.white-square:nth-child(3) {
  visibility: 0;
  transform: rotate(60deg) var(--squares-position);
}

.white-square:nth-child(4) {
  transform: rotate(120deg) var(--squares-position);
}

.white-square:nth-child(5) {
  transform: rotate(150deg) var(--squares-position);
}

.white-square:nth-child(6) {
  top: 39%;
  height: 23px;
  transform: rotate(180deg) var(--squares-position);
}

.white-square:nth-child(6) .shadow {
  height: 21px;
}

.white-square:nth-child(7) {
  transform: rotate(210deg) var(--squares-position);
}

.white-square:nth-child(8) {
  transform: rotate(240deg) var(--squares-position);
}

.white-square:nth-child(9) {
  top: 44%;
  left: 52%;
  height: 23px;
  transform: rotate(270deg) var(--squares-position);
}

.white-square:nth-child(9) .shadow {
  height: 21px;
}

.white-square:nth-child(10) {
  transform: rotate(300deg) var(--squares-position);
}

.white-square:nth-child(11) {
  transform: rotate(330deg) var(--squares-position);
}

.white-square:nth-child(12) {
  transform: rotate(360deg) var(--squares-position);
}

.white-square:nth-child(13) {
  transform: rotate(390deg) var(--squares-position);
}

.triangle-black {
  position: relative;
  top: -26.5px;
  left: -10px;
  width: 20px;
  height: 1.5px;
  background-color: #000;
  z-index: 3;
}

.white-triangle {
  position: absolute;
  top: 10px;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  z-index: 100;
}

.white-triangle .triangle-shadow {
  position: absolute;
  top: -23px;
  left: -8.2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 8px 0 8px;
  border-color: #dfdfdf transparent transparent transparent;
  z-index: 10;
}

.white-triangle .triangle-shadow-2 {
  position: absolute;
  top: -22.5px;
  left: -7.2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16.5px 6.5px 0 7px;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}

.clock-dial .clock-indicator {
  position: absolute;
  top: -6px;
  width: 4.5px;
  height: 16px;
  margin: 70px 70px;
  color: #fff;
  font-size: 20px;
  font-family: 'Khand', sans-serif;
  background-color: #fff;
  border-radius: 1px;
}

.clock-indicator:nth-child(2) {
  transform: rotate(60deg) var(--lines-position-second);
}

.clock-indicator:nth-child(3) {
  transform: rotate(90deg) var(--lines-position-second);
}

.clock-indicator:nth-child(4) {
  top: -9px;
  left: 9px;
  background-color: transparent;
  transform: rotate(120deg) var(--lines-position-second);
}

.clock-indicator:nth-child(5) {
  transform: rotate(150deg) var(--lines-position-second);
}

.clock-indicator:nth-child(6) {
  top: 0.5px;
  left: 6px;
  background-color: transparent;
  transform: rotate(180deg) var(--lines-position-second);
}

.clock-indicator:nth-child(7) {
  transform: rotate(210deg) var(--lines-position-second);
}

.clock-indicator:nth-child(8) {
  top: 2px;
  left: -2px;
  background-color: transparent;
  transform: rotate(240deg) var(--lines-position-second);
}

.clock-indicator:nth-child(9) {
  transform: rotate(270deg) var(--lines-position-second);
}

.clock-indicator:nth-child(10) {
  top: -4px;
  left: -7px;
  background-color: transparent;
  transform: rotate(300deg) var(--lines-position-second);
}

.clock-indicator:nth-child(11) {
  transform: rotate(330deg) var(--lines-position-second);
}

.clock-indicator:nth-child(12) {
  background-color: transparent;
  transform: rotate(360deg) var(--lines-position-second);
}

.clock-indicator:nth-child(13) {
  transform: rotate(390deg) var(--lines-position-second);
}

.triangle-outer-dial {
  position: relative;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 13px 0 13px;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}

.triangle-outer-dial .circle {
  position: absolute;
  top: -14px;
  left: -3.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1.2px rgb(23, 60, 107);
  z-index: 100;
}

/* hour hand */
.clock-hour {
  position: absolute;
  left: calc(50% - 4px);
  width: 8px;
  background: linear-gradient(#fff 76%, #1e3f85 76%);
  transform-origin: bottom center;
  border-radius: 1px;
  box-shadow: 0 0 2px #00000088;
  height: 53px;
  transition: .5s;
  margin-top: 30px;
  animation: rotate-hour 43200s linear infinite;
  z-index: 3;
}

.clock-hour .square-hour {
  position: relative;
  top: 10px;
  left: -50%;
  width: 16px;
  height: 16px;
  background: radial-gradient(#fff 80%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
  z-index: 100;
}

.clock-hour .square-hour-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border: 1px solid #4d4d4d13;
  background-color: transparent;
  z-index: 100;
}

.clock-hour .hour-cover-1 {
  position: relative;
  top: -5.25px;
  left: 1.5px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-2 {
  position: relative;
  top: 0.25px;
  left: 1.75px;
  width: 4.5px;
  height: 4.5px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 110;
}

.clock-hour .hour-cover-3 {
  position: absolute;
  top: 24px;
  left: 1.85px;
  width: 4px;
  height: 25.5px;
  background: linear-gradient(#fff 62%, #22499b 62%);
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-4 {
  position: absolute;
  top: 1.5px;
  left: 1.85px;
  width: 4px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px #0000002f;
  z-index: 101;
}

.clock-hour .hour-cover-5 {
  position: relative;
  top: 0;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

.clock-hour .hour-cover-6 {
  position: relative;
  top: -22px;
  width: 8px;
  height: 4.5px;
  background-color: #fff;
  z-index: 100;
}

/* minute hand */
.clock-minute {
  position: absolute;
  left: calc(50% - 4px);
  width: 6px;
  background: linear-gradient(#fff 85%, #1e3f85 85%);
  transform-origin: bottom center;
  border-radius: 0.5px;
  box-shadow: 0 0 2px #00000088;
  height: 70px;
  margin-top: 12px;
  transition: .5s;
  animation: rotate-minute 3600s linear infinite;
  z-index: 10;
}

.clock-minute .minute-cover {
  position: absolute;
  top: -0.75px;
  left: 1.5px;
  width: 3px;
  height: 70px;
  background: linear-gradient(#fff 84%, #22499b 84%);
  box-shadow: 0 0 1px #0000002f;
  z-index: 1000;
}

.minute-point {
  position: relative;
  top: -11%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 8px 3px;
  border-color: transparent transparent #fff transparent;
}

.minute-point:before {
  position: absolute;
  content: "";
  top: 3.5px;
  left: -1.75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.75px 4px 1.75px;
  border-color: transparent transparent #00000013 transparent;
  z-index: 1000;
}

.minute-point:after {
  position: absolute;
  content: "";
  top: 4px;
  left: -1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.5px 4px 1.5px;
  border-color: transparent transparent #fff transparent;
  z-index: 1000;
}

/* second hand */
.clock-second {
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  left: calc(50% - 20px);
  transform: rotate(0deg);
  background: linear-gradient(-90deg, #fff 75%, #1e3f85 75%);
  transform-origin: 20px center;
  box-shadow: 0 0 2px #00000088;
  border-radius: 0.5px;
  animation: rotate-second 60s linear infinite;
  -webkit-animation: rotate-second 60s linear infinite;
  z-index: 100;
}

.clock-second .square-second {
  position: relative;
  top: -4.5px;
  left: 58%;
  width: 10px;
  height: 10px;
  background: radial-gradient(#fff 40%, #e2e2e2);
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 1px #fff, 0 0 2px #00000023;
}

.clock-second .square-second-inner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 1px solid #4d4d4d0e;
  background-color: transparent;
}
 
.clock-second .cover-1 {
  position: relative;
  top: -10px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-2 {
  position: relative;
  top: -11px;
  left: 56%;
  width: 4px;
  height: 1px;
  background-color: #fff;
}

.clock-second .cover-3 {
  position: relative;
  top: -13px;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 0.5px;
  background-color: #1e3f85;
  box-shadow: 0 0 1px #00000088;
}

/* tudor logo */
.tudor-logo {
  position: relative;
  top: 58.6%;
  left: 80.7%;
  transform: translate(-30%, -50%);
  z-index: 2;
}

.tudor-logo-shadow {
  position: absolute;
  top: 0;
}

.tudor-logo-shadow-1 {
  position: absolute;
  top: 0;
}

.tudor-logo-shadow-2 {
  position: absolute;
  top: 0;
  left: -1.5px;
}

.clock-blue-center {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #1d4291;
  border: solid 1px #0000002f;
  border-radius: 50%;
  z-index: 110;
}

.clock-blue-center:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #224797;
  border: solid 1px #00000033;
  border-radius: 50%;
  z-index: 105;
}

.clock-center {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#313d7b,#204492);
  border-radius: 50%;
  box-shadow: inset 0 -1px 0 #1b3a7b, inset 0 2px 0 #1c214398;
}

.clock-center:after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #204188;
  border: solid 1px #0000002a;
  border-radius: 50%;
  z-index: 100;
}

/* writings on the watch base */
.clock-center p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.clock-center p:nth-child(1) {
  top: 22%;
  left: 43.5%;
  transform: translate(-20%, -50%);
  font-size: 10px;
  font-weight: 700;
  font-family: 'Lusitana', serif;
}

.clock-center p:nth-child(2) {
  position: absolute;
  top: 29.2%;
  left: 51%;
  font-size: 6px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(3) {
  position: absolute;
  top: 63%;
  left: 51.4%;
  font-size: 6px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(4) {
  position: absolute;
  top: 67.8%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(5) {
  position: absolute;
  top: 71.3%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(6) {
  position: absolute;
  top: 74.8%;
  left: 51.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(7) {
  position: absolute;
  top: 78.3%;
  left: 44%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(8) {
  position: absolute;
  top: 78.3%;
  left: 48.4%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.clock-center p:nth-child(9) {
  position: absolute;
  top: 78.3%;
  left: 54%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.clock-center p:nth-child(10) {
  position: absolute;
  top: 78.3%;
  left: 59.6%;
  font-size: 4.5px!important;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

/* 60 lines around the watch */
.watch-points {
  position: absolute;
  z-index: 5;
  top: calc(50% - 29px);
  left: calc(50% - 28px);
  transform: translate(-50%, -50%);
}

.watch-points i {
  display: block;
  height: 3px;
  width: 1px;
  background-color: #fff;
  position: absolute;
}

i:nth-child(1) {
  transform: rotate(6deg) var(--lines-position);
}
i:nth-child(2) {
  transform: rotate(12deg) var(--lines-position);
}
i:nth-child(3) {
  transform: rotate(18deg) var(--lines-position);
}
i:nth-child(4) {
  transform: rotate(24deg) var(--lines-position);
}
i:nth-child(5) {
  transform: rotate(30deg) var(--lines-position);
}
i:nth-child(6) {
  transform: rotate(36deg) var(--lines-position);
}
i:nth-child(7) {
  transform: rotate(42deg) var(--lines-position);
}
i:nth-child(8) {
  transform: rotate(48deg) var(--lines-position);
}
i:nth-child(9) {
  transform: rotate(54deg) var(--lines-position);
}
i:nth-child(10) {
  transform: rotate(60deg) var(--lines-position);
}
i:nth-child(11) {
  transform: rotate(66deg) var(--lines-position);
}
i:nth-child(12) {
  transform: rotate(72deg) var(--lines-position);
}
i:nth-child(13) {
  transform: rotate(78deg) var(--lines-position);
}
i:nth-child(14) {
  transform: rotate(84deg) var(--lines-position);
}
i:nth-child(15) {
  transform: rotate(90deg) var(--lines-position);
}
i:nth-child(16) {
  transform: rotate(96deg) var(--lines-position);
}
i:nth-child(17) {
  transform: rotate(102deg) var(--lines-position);
}
i:nth-child(18) {
  transform: rotate(108deg) var(--lines-position);
}
i:nth-child(19) {
  transform: rotate(114deg) var(--lines-position);
}
i:nth-child(20) {
  transform: rotate(120deg) var(--lines-position);
}
i:nth-child(21) {
  transform: rotate(126deg) var(--lines-position);
}
i:nth-child(22) {
  transform: rotate(132deg) var(--lines-position);
}
i:nth-child(23) {
  transform: rotate(138deg) var(--lines-position);
}
i:nth-child(24) {
  transform: rotate(144deg) var(--lines-position);
}
i:nth-child(25) {
  transform: rotate(150deg) var(--lines-position);
}
i:nth-child(26) {
  transform: rotate(156deg) var(--lines-position);
}
i:nth-child(27) {
  transform: rotate(162deg) var(--lines-position);
}
i:nth-child(28) {
  transform: rotate(168deg) var(--lines-position);
}
i:nth-child(29) {
  transform: rotate(174deg) var(--lines-position);
}
i:nth-child(30) {
  transform: rotate(180deg) var(--lines-position);
}
i:nth-child(31) {
  transform: rotate(186deg) var(--lines-position);
}
i:nth-child(32) {
  transform: rotate(192deg) var(--lines-position);
}
i:nth-child(33) {
  transform: rotate(198deg) var(--lines-position);
}
i:nth-child(34) {
  transform: rotate(204deg) var(--lines-position);
}
i:nth-child(35) {
  transform: rotate(210deg) var(--lines-position);
}
i:nth-child(36) {
  transform: rotate(216deg) var(--lines-position);
}
i:nth-child(37) {
  transform: rotate(222deg) var(--lines-position);
}
i:nth-child(38) {
  transform: rotate(228deg) var(--lines-position);
}
i:nth-child(39) {
  transform: rotate(234deg) var(--lines-position);
}
i:nth-child(40) {
  transform: rotate(240deg) var(--lines-position);
}
i:nth-child(41) {
  transform: rotate(246deg) var(--lines-position);
}
i:nth-child(42) {
  transform: rotate(252deg) var(--lines-position);
}
i:nth-child(43) {
  transform: rotate(258deg) var(--lines-position);
}
i:nth-child(44) {
  transform: rotate(264deg) var(--lines-position);
}
i:nth-child(45) {
  transform: rotate(270deg) var(--lines-position);
}
i:nth-child(46) {
  transform: rotate(276deg) var(--lines-position);
}
i:nth-child(47) {
  transform: rotate(282deg) var(--lines-position);
}
i:nth-child(48) {
  transform: rotate(288deg) var(--lines-position);
}
i:nth-child(49) {
  transform: rotate(294deg) var(--lines-position);
}
i:nth-child(50) {
  transform: rotate(300deg) var(--lines-position);
}
i:nth-child(51) {
  transform: rotate(306deg) var(--lines-position);
}
i:nth-child(52) {
  transform: rotate(312deg) var(--lines-position);
}
i:nth-child(53) {
  transform: rotate(318deg) var(--lines-position);
}
i:nth-child(54) {
  transform: rotate(324deg) var(--lines-position);
}
i:nth-child(55) {
  transform: rotate(330deg) var(--lines-position);
}
i:nth-child(56) {
  transform: rotate(336deg) var(--lines-position);
}
i:nth-child(57) {
  transform: rotate(342deg) var(--lines-position);
}
i:nth-child(58) {
  transform: rotate(348deg) var(--lines-position);
}
i:nth-child(59) {
  transform: rotate(354deg) var(--lines-position);
}
i:nth-child(60) {
  transform: rotate(360deg) var(--lines-position);
}

